@page
@model Vasileuski.UI.Areas.Admin.Pages.Teams.IndexModel
@{
    ViewData["Title"] = "Управление командами";
}

<h1>Управление командами</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">
        <i class="fas fa-plus"></i> Создать новую команду
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Position)
            </th>
            <th>
                Изображение
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Team)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="@item.Image" alt="@item.Name" style="max-height: 50px; max-width: 50px;" />
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>